.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.title-subtitle__title {
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.title-subtitle__title span {
  display: block;
  width: 50px;
  height: 2px;
  background: #555;
  margin-top: 30px;
}

.title-subtitle__subtitle {
  font-family: RobotoSlab-Regular;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #555;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Bold";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
}

.header__wrapper {
  height: 100%;
  background: url("../img/header_bg.jpg") 30% 0/cover no-repeat;
  position: relative;
  z-index: 13;
  display: block;
}

.header__wrapper::after {
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  display: block;
  top: 0;
  z-index: 1;
}

.header__body {
  height: 100%;
  position: relative;
  z-index: 13;
  color: #fff;
  max-width: 1140px;
  margin: 0 auto;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 13;
}

.header__nav div,
.header__nav ul {
  z-index: 12;
}

.header__nav::before {
  content: "";
  position: fixed;
  display: block;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__nav.scroll::before {
  background-color: rgba(133, 39, 24, 0.9);
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: Montserrat-Bold;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 540px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 540px;
          flex: 1 1 540px;
}

.header__link a {
  color: #fff;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.35px;
  text-align: left;
  border: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__link a:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__burger {
  display: none;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-family: Montserrat-Bold;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
}

.header__subtitle {
  font-family: RobotoSlab-Regular;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 30px;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 18px 34px;
  border-radius: 2px;
  border: solid 2px #fff;
  background-color: inherit;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button:hover {
  background: #fff;
  color: #000;
}

.footer {
  background: #A6301E;
}

.footer__body {
  max-width: 300px;
  height: 310px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social a {
  height: 35px;
  width: 35px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 14px;
}

.footer__item {
  height: 2px;
  width: 50px;
  background: #fff;
  margin: 30px 0;
}

.footer__text {
  font-family: RobotoSlab-Regular;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.services__body {
  padding: 100px 30px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
}

.services__item span {
  display: block;
}

.services__item > .services__title {
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #555;
  margin-bottom: 24px;
  font-weight: 700;
}

.services__item span:last-child {
  font-family: RobotoSlab-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #555;
}

.services__img {
  height: 90px;
  width: 90px;
  padding: 25px 20px;
  border: solid 2px #ddd;
  border-radius: 50%;
  margin-bottom: 30px;
}

.services__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.services__img_red {
  background: #c0301c;
}

.about-us {
  background: #F8F8F8;
}

.about-us__body {
  padding: 0 30px 100px 30px;
}

.about-us__title {
  margin-top: 100px;
}

.about-us__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.about-us__text-section {
  max-width: 550px;
  font-family: RobotoSlab-Regular;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #555;
  margin-right: 10px;
}

.about-us__slider {
  position: relative;
  z-index: 5;
}

.about-us__slider .slick-list {
  overflow: hidden;
}

.about-us__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.about-us__slider .about-us__connect {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__slider .about-us__connect > img {
  position: relative;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.about-us__slider .about-us__connect .connect__item {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  background: none;
}

.about-us__slider .about-us__connect .connect__item a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__slider .about-us__connect .connect__item a:hover {
  background: #c0301c;
}

.about-us__slider .about-us__connect:hover .connect__item {
  opacity: 1;
  background: rgba(85, 85, 85, 0.5);
}

.about-us__slider .about-us__person {
  margin-top: 20px;
}

.about-us__slider .about-us__person .about-us__name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.71;
  text-align: center;
  color: #555;
  margin-bottom: 15px;
}

.about-us__slider .about-us__person .about-us__func {
  font-family: RobotoSlab-Regular;
  font-size: 13px;
  line-height: 1.85;
  text-align: center;
  color: #555;
}

.about-us__slider .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 1;
  font-size: 0;
  height: 35px;
  width: 35px;
  background: none;
  background: #c0301c;
  z-index: 1;
}

.about-us__slider .slick-arrow.slick-disabled {
  background: #8E8E8E;
}

.about-us__slider .slick-arrow.slick-prev::before,
.about-us__slider .slick-arrow.slick-next::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.about-us__slider .slick-arrow.slick-prev {
  left: 0;
}

.about-us__slider .slick-arrow.slick-prev::before {
  background: url("../img/fa-angle-left.svg") 50% 50%/8px no-repeat;
}

.about-us__slider .slick-arrow.slick-next {
  right: 0;
}

.about-us__slider .slick-arrow.slick-next::before {
  background: url("../img/fa-angle-right.svg") 50% 50%/8px no-repeat;
}

.blog-slider__body .slick-list {
  overflow: hidden;
}

.blog-slider__body .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-slider__body .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0 20px;
}

.blog-slider__body .slick-dots {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-slider__body .slick-dots li {
  margin-right: 5px;
  height: 13px;
  width: 13px;
  background-color: #ddd;
  border-radius: 50%;
}

.blog-slider__body .slick-dots li.slick-active {
  background-color: #c0301c;
}

.blog-slider__body .slick-dots li button {
  font-size: 0;
}

.blog-slider__item {
  max-width: 760px;
  margin: 0 auto;
}

.blog-slider__quote {
  font-family: RobotoSlab-Regular;
  font-style: italic;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #555;
  margin-bottom: 10px;
}

.blog-slider__author {
  font-family: RobotoSlab-Regular;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #555;
}

.works__body {
  padding: 100px 30px;
}

.works__link {
  margin-right: 20px;
}

.works__link:hover {
  border-bottom: 1px solid #000;
}

.works__link.active {
  color: #c0301c;
}

.works__link.active:hover {
  border-bottom: none;
}

.works__gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(360px))[3];
  grid-template-columns: repeat(3, fit-content(360px));
  -ms-grid-rows: (fit-content(320px))[3];
  grid-template-rows: repeat(3, fit-content(320px));
  gap: 30px;
}

.works__footer {
  height: 370px;
  background: url("../img/section_bg.jpg") 50% 0/cover no-repeat;
  position: relative;
  z-index: 2;
}

.works__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(192, 48, 28, 0.4);
}

.works__footer-body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.works__text {
  font-family: RobotoSlab-Regular;
  font-size: 30px;
  line-height: 1.47;
  text-align: center;
  color: #fff;
}

.works__button {
  font-family: RobotoSlab-Regular;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2.44;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  height: 50px;
  width: 180px;
  border: 1px solid #fff;
  background: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__button:hover {
  background: #fff;
  color: #000;
}

.gallery__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item {
  position: relative;
}

.gallery__item:hover .gallery__content {
  opacity: 1;
  background: rgba(192, 48, 28, 0.7);
}

.gallery__content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery__title {
  font-family: Montserrat-Regular;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.gallery__subtitle {
  font-family: RobotoSlab-Regular;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.gallery__button {
  padding: 15px 20px;
  text-transform: uppercase;
  font-family: RobotoSlab-Regular;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1.4px;
  color: #c0301c;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.gallery__button:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.gallery__button picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
}

.gallery__button picture img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.blog__body {
  padding: 0 20px;
}

.blog__head {
  margin-top: 95px;
}

.blog__item:first-child {
  border-bottom: 1px solid #ddd;
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 0;
}

.blog-item__image {
  width: 100%;
}

.blog-item__image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.blog-item__content {
  margin-left: 40px;
}

.blog-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.blog-item__date {
  border: solid 2px #777;
  width: 76px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: center;
  color: #777;
  margin-right: 26px;
}

.blog-item__date p:first-child {
  font-size: 20px;
}

.blog-item__title {
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: center;
  font-weight: 700;
  color: #555;
}

.blog-item__title_red {
  color: #c0301c;
}

.blog-item__subtitle {
  font-family: RobotoSlab-Regular;
  font-size: 13px;
  line-height: 1.85;
  text-align: start;
  color: #777;
}

.blog-item__subtitle span {
  color: #c0301c;
}

.blog-item__text {
  font-family: RobotoSlab-Regular;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #555;
  margin-bottom: 34px;
}

.blog-item__button {
  font-family: RobotoSlab-Bold;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.85;
  letter-spacing: 1.3px;
  text-align: center;
  color: #777;
}

.blog-item__button_red {
  color: #c0301c;
}

.blog__slider {
  background: #f8f8f8;
}

.blog-slider {
  padding: 100px 0;
}

.blog-slider__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  padding: 0 30px;
}

.contact__body {
  padding: 100px 0;
}

.contact__head {
  padding: 0 20px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-contact {
  padding: 0 20px;
}

.form-contact__contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 20px;
}

.form-contact__item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-contact__item picture {
  width: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 25px;
  margin-top: 5px;
}

.form-contact__item picture img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.form-contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #555;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-contact__subtitle {
  font-family: RobotoSlab-Regular;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #555;
}

.form-contact__form {
  max-width: 730px;
}

.form-contact__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-contact__group input {
  margin-bottom: 20px;
  height: 44px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  padding-left: 17px;
  border: solid 1px #555;
}

.form-contact__group input:focus {
  -webkit-box-shadow: 0 0 3px #999;
          box-shadow: 0 0 3px #999;
  border: solid 1px #c0301c;
}

.form-contact__textarea {
  margin-bottom: 20px;
}

.form-contact__textarea textarea {
  width: 100%;
  padding: 17px;
  border: solid 1px #555;
}

.form-contact__textarea textarea:focus {
  -webkit-box-shadow: 0 0 3px #999;
          box-shadow: 0 0 3px #999;
  border: solid 1px #c0301c;
}

.form-contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-contact__button button {
  background: none;
  width: 170px;
  height: 44px;
  border: solid 1px #555;
  font-family: RobotoSlab-Regular;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.6px;
  text-align: left;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin-right: 40px;
}

.form-contact__button button:hover {
  -webkit-box-shadow: 0 0 3px #999;
          box-shadow: 0 0 3px #999;
  border: solid 1px #c0301c;
  color: #c0301c;
}

.form-contact__button span {
  font-family: RobotoSlab-Regular;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
}

@media (max-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    width: 50%;
    padding: 20% 5% 65% 0;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: #852718;
    opacity: 0.9;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header__list.active {
    right: 0;
  }

  .header__link a {
    color: #fff;
    font-family: Montserrat-Regular;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-align: left;
    border: none;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__burger::before {
    position: absolute;
    top: 0;
  }

  .header__burger::after {
    position: absolute;
    bottom: 0;
  }

  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    display: none;
  }

  .header__title {
    font-size: 38px;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 10px 24px;
  }

  .services__item {
    margin-left: 0;
  }

  .about-us__content {
    padding: 0 30px;
  }

  .about-us__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__text-section {
    margin-bottom: 20px;
    text-align: center;
  }

  .about-us__slider {
    margin: 0 30px;
  }

  .about-us__slider .about-us__connect > img {
    position: relative;
    z-index: 1;
  }

  .about-us__slider .about-us__connect .connect__item {
    opacity: 1;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-top: 20px;
    height: auto;
  }

  .about-us__slider .about-us__connect .connect__item:hover {
    opacity: 1;
    background: none;
  }

  .about-us__slider .about-us__connect .connect__item a {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #c0301c;
  }

  .gallery {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  .gallery__image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .gallery__content {
    opacity: 1;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .gallery__item {
    position: relative;
  }

  .gallery__item:hover .gallery__content {
    opacity: 1;
    background: none;
  }

  .gallery__title {
    font-family: Montserrat-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    color: #000;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .gallery__subtitle {
    font-family: RobotoSlab-Regular;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
  }

  .gallery__button {
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: RobotoSlab-Regular;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.4px;
    color: #c0301c;
    background: #fff;
    border: 1px solid #c0301c;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin-bottom: 10px;
  }

  .gallery__button:hover img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .blog-item {
    padding: 38px 0;
    margin: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blog-item__content {
    margin-left: 0px;
  }

  .blog-item__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .blog-slider__clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px;
    padding: 0 30px;
  }

  .blog-slider__clients picture {
    margin: 10px;
  }

  .form-contact {
    display: block;
  }

  .form-contact__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
  }
}

@media (max-width: 425px) {
  .header__nav {
    padding: 30px 30px;
  }

  .header__nav::before {
    height: 100px;
  }

  .header__list {
    width: 100%;
    padding: 30% 10% 100% 0;
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 10px 24px;
  }

  .services__list {
    display: block;
    width: 100%;
  }

  .services__item {
    margin-left: 0;
    margin-bottom: 45px;
  }

  .gallery {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 10px;
  }

  .blog-item {
    padding: 38px 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blog-item__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .blog-item__date {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .blog-item__title {
    font-size: 16px;
  }

  .blog-item__subtitle {
    text-align: center;
  }

  .form-contact__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }

  .form-contact__item {
    width: 100%;
  }

  .form-contact__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-contact__button button {
    margin-bottom: 20px;
  }
}