.main {
}
.services {
}

.services__body {
    padding: 100px 30px;
}

.services__head {
}

.services__title {
}

.services__subtitle {
}

.services__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    & span {
        display: block;
    }

    &>.services__title {
        font-family: Montserrat-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #555;
        margin-bottom: 24px;
        font-weight: 700;
    }
    
    & span:last-child {
        font-family: RobotoSlab-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #555;
    }
}

.services__img {
    height: 90px;
    width: 90px;
    padding: 25px 20px;
    border: solid 2px #ddd;
    border-radius: 50%;
    margin-bottom: 30px;
    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    &_red {
        background: #c0301c;
    }
}

@media (max-width: 768px) {
    .services__item {
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .services__list {
        display: block;
        width: 100%;
    }
    .services__item {
        margin-left: 0;
        margin-bottom: 45px;
    }
}


.about-us {
    background: #F8F8F8;
}

.about-us__body {
    padding: 0 30px 100px 30px;
}

.about-us__content {
}

.about-us__head {
}

.about-us__title {
    margin-top: 100px;
}


.about-us__subtitle {
}

.about-us__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.about-us__text-section {
    max-width: 550px;
    font-family: RobotoSlab-Regular;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #555;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .about-us__content {
        padding: 0 30px;
    }
    .about-us__text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us__text-section {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 425px) {
}

@import "_slider";


.works {
    &__body {
        padding: 100px 30px;
    }
    &__head {
    }
    &__title {
    }
    &__links {
    }
    &__link {
        margin-right: 20px;
        &:hover {
            border-bottom: 1px solid #000;
        }
        &.active {
            &:hover {
                border-bottom: none;
            }
            color: #c0301c;
        }
    }
    &__gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, fit-content(360px));
        grid-template-rows: repeat(3, fit-content(320px));
        gap: 30px;
    }
    &__footer {
        height: 370px;
        background: url('../img/section_bg.jpg') 50% 0/cover no-repeat;
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(192,48,28, 0.4);
        }
        &-body {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: transparent;
        }
    }
    &__text {
        font-family: RobotoSlab-Regular;
        font-size: 30px;
        line-height: 1.47;
        text-align: center;
        color: #fff;
    }
    &__button {
        font-family: RobotoSlab-Regular;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 2.44;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin-top: 20px;
        height: 50px;
        width: 180px;
        border: 1px solid #fff;
        background: none;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}


.gallery {
    @media (max-width: 768px) {
        & {
            grid-template-columns: 50% 50%;
            gap: 10px;
            &__image {
                position: relative;
                z-index: 1;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            &__content {
                opacity: 1;
                position: relative;
                width: 100%;
                height: auto;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background: none;
                transition: 0.3s;
            }
            &__item {
                position: relative;
                &:hover {
                    .gallery__content {
                        opacity: 1;
                        background: none;
                    }
                }
            }
        }
        &__title {
            font-family: Montserrat-Regular;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.33;
            text-align: center;
            color: #000;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        &__subtitle {
            font-family: RobotoSlab-Regular;
            font-size: 12px;
            line-height: 2;
            text-align: center;
            color: #000;
            margin-bottom: 10px;
        }
        &__button {
            padding: 10px 15px;
            text-transform: uppercase;
            font-family: RobotoSlab-Regular;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 1.4px;
            color: #c0301c;
            background: #fff;
            border: 1px solid #c0301c;
            border-radius: 10px;
            display: flex;
            transition: 0.2s;
            margin-bottom: 10px;
            &:hover {
                & img {
                    transform: none;
                    transition: 0.2s;
                }
            }
        }
    }
    @media (max-width: 425px) {
        & {
            grid-template-columns: 100%;
            gap: 10px;
        }
    }
    &__image {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__item {
        position: relative;
        &:hover {
            .gallery__content {
                opacity: 1;
                background: rgba(192,48,28, 0.7);
            }
        }
    }
    &__content {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: none;
        transition: 0.3s;
    }
    &__title {
        font-family: Montserrat-Regular;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
        color: #fff;
        margin-bottom: 16px;
    }
    &__subtitle {
        font-family: RobotoSlab-Regular;
        font-size: 12px;
        line-height: 2;
        text-align: center;
        color: #fff;
        margin-bottom: 25px;
    }
    &__button {
        padding: 15px 20px;
        text-transform: uppercase;
        font-family: RobotoSlab-Regular;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 1.4px;
        color: #c0301c;
        background: #fff;
        display: flex;
        transition: 0.2s;
        &:hover {
            & img {
                transform: translateX(5px);
                transition: 0.2s;
            }
        }
        & picture {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 12px;
            & img {
                transition: 0.2s;
            }
        }
    }
}


.blog {
    &__body {
        padding: 0 20px;
    }
    &__head {
        margin-top: 95px;
    }
    &__title {
    }
    &__subtitle {
    }
    &__content {
    }
    &__item {
        &:first-child {
            border-bottom: 1px solid #ddd;
        }
    }
}
.blog-item {
    display: flex;
    padding: 38px 0;
    &__image {
        width: 100%;
        & img {
            object-fit: contain;
            width: 100%;
        }
    }
    &__content {
        margin-left: 40px;
    }
    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    &__date {
        border: solid 2px #777;
        width: 76px;
        height: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Montserrat-Bold;
        font-size: 14px;
        font-weight: bold;
        // line-height: 1.43;
        letter-spacing: 1.4px;
        text-align: center;
        color: #777;
        & p:first-child {
            font-size: 20px;
        }
        margin-right: 26px;
    }
    &__title {
        font-family: Montserrat-Regular;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: normal;
        text-align: center;
        font-weight: 700;
        color: #555;
        &_red {
            color: #c0301c;
        }
    }
    &__subtitle {
        font-family: RobotoSlab-Regular;
        font-size: 13px;
        line-height: 1.85;
        text-align: start;
        color: #777;
        & span {
            color: #c0301c;
        }
    }
    &__text {
        font-family: RobotoSlab-Regular;
        font-size: 14px;
        line-height: 1.71;
        text-align: left;
        color: #555;
        margin-bottom: 34px;
    }
    &__button {
        font-family: RobotoSlab-Bold;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.85;
        letter-spacing: 1.3px;
        text-align: center;
        color: #777;
        &_red {
            color: #c0301c;
        }
    }
    @media (max-width: 768px) {
        padding: 38px 0;
        margin: 0 50px;
        flex-direction: column;
        align-items: center;
        &__content {
            margin-left: 0px;
        }
        &__head {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 25px;
        }
    }
    @media (max-width: 425px) {
        padding: 38px 0;
        margin: 0;
        flex-direction: center;
        align-items: center;
        &__head {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 25px;
        }
        &__date {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            // margin-right: auto;
        }
        &__title {
            font-size: 16px;
        }
        &__subtitle {
            text-align: center;
        }
    }
}

.blog__slider {
    background: rgba(248,248,248, 1);
}
.blog-slider {
    padding: 100px 0;
    &__clients {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        padding: 0 30px;
    }
    @media (max-width: 768px) {
        &__clients {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 70px;
            padding: 0 30px;
            & picture {
                margin: 10px;
            }
        }
    }
}

.contact {
    &__body {
        padding: 100px 0;
    }
    &__head {
        padding: 0 20px;
    }
    &__title {
    }
    &__subtitle {
    }
    &__form {
        display: flex;
    }
}
.form-contact {
    padding: 0 20px;
    &__contact {
        flex: 1 1 auto;
        margin-right: 20px;
    }
    &__item {
        margin-bottom: 30px;
        display: flex;
        & picture {
            width: 12px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin-right: 25px;
            margin-top: 5px;
            & img {
                display: flex;
                align-items: start;
                object-fit: contain;
                width: 100%;
            }
        }
    }
    &__title {
        display: flex;
        align-items: start;
        flex-direction: column;
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 2.14;
        text-align: center;
        color: #555;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__subtitle {
        // margin-left: 26px;
        font-family: RobotoSlab-Regular;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.67;
        text-align: left;
        color: #555;
    }
    &__form {
        max-width: 730px;
    }
    &__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & input {
            margin-bottom: 20px;
            height: 44px;
            flex: 0 1 350px;
            padding-left: 17px;
            border: solid 1px #555;
            &:focus {
                box-shadow: 0 0 3px #999;
                border: solid 1px #c0301c;
            }
        }
    }
    &__textarea {
        margin-bottom: 20px;
        & textarea {
            width: 100%;
            padding: 17px;
            border: solid 1px #555;
            &:focus {
                box-shadow: 0 0 3px #999;
                border: solid 1px #c0301c;
            }
        }
    }
    &__button {
        display: flex;
        align-items: center;
        & button {
            background: none;
            width: 170px;
            height: 44px;
            border: solid 1px #555;
            font-family: RobotoSlab-Regular;
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.6px;
            text-align: left;
            color: #555;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-right: 40px;
            &:hover {
                box-shadow: 0 0 3px #999;
                border: solid 1px #c0301c;
                color: #c0301c;
            }
        }
        & span {
            font-family: RobotoSlab-Regular;
            font-size: 12px;
            line-height: 1.67;
            text-align: left;
        }
    }
    @media (max-width: 768px) {
        display: block;
        &__contact {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
        }
    }
    @media (max-width: 425px) {
        &__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 0px;
            // padding-left: 20px;
        }
        &__item {
            width: 100%;
        }
        &__button {
            display: flex;
            align-items: center;
            flex-direction: column;
            & button {
                margin-bottom: 20px;
            }
        }
    }
}